<p-card styleClass="shadow-4">
  <div class="thumbnail-container">
    <p
      style="
        font-size: 1.5rem;
        margin-top: 0;
        margin-bottom: 1fr;
        text-align: center;
      "
    >
      {{ project?.name }}
    </p>
    <p-splitButton
      (onClick)="onProjectEdit()"
      icon="pi pi-pencil"
      label="Open project"
      styleClass="p-button-raised"
      [model]="dropDownItems"
    ></p-splitButton>
  </div>
</p-card>
<app-manage-project-panel
  [(manageProjectDialogVisible)]="manageProjectDialogVisible"
  [project]="project"
  (changesApplied)="onChangesApplied()"
></app-manage-project-panel>
<app-members-list
  [(membersListVisible)]="membersListVisible"
  [members]="project?.members!"
></app-members-list>
