<div class="flex flex-column justify-content-center align-items-center">
  <p>The reset password link will be send to your email.</p>
  <div class="flex flex-column justify-content-center gap-3">
    <div class="flex flex-column">
      <input
        pInputText
        placeholder="Email"
        [(ngModel)]="email"
        [email]="true"
      />
      <small *ngIf="email.length === 0 && sendPressed"
        >Email cannot be empty.</small
      >
    </div>
    <div class="flex justify-content-center gap-2">
      <p-button icon="pi pi-angle-left" (onClick)="onBack()"></p-button>
      <p-button (onClick)="onSend()">Send</p-button>
    </div>
  </div>
</div>
