<div class="form-container">
  <div class="form-input">
    <label for="email">Email</label>
    <input pInputText id="emial" />
  </div>
  <div class="form-input">
    <label for="password">Password</label>
    <p-password formControlName="value" [feedback]="false"></p-password>
  </div>

  <div class="form-input">
    <label for="repeat-password">Repeat password</label>
    <p-password formControlName="value" [feedback]="false"></p-password>
  </div>

  <div class="form-input">
    <p-button>Sign up</p-button>
  </div>
</div>
